<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Página vacía para búsquedas fallidas">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mariscos Recio - Merch</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<link href="../../static/css/estiloTarjetas.css" th:href="@{/css/estiloTarjetas.css}" rel="stylesheet" />
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	<link href="../../static/css/botonGithub.css" th:href="@{/css/botonGithub.css}" rel="stylesheet" />
	<link rel="icon" href="../static/img/cara.png" th:href="@{/img/cara.png}" type="image/x-icon">
</head>

<body>
	<header th:replace="~{fragmentos/header::header}">
	</header>
	<div class="text-center">

		<h3>Así te tengo</h3>

		<video autoplay loop>
			<source src="../../static/video/baile.mp4" th:src="@{/video/baile.mp4}"
				alt="Video de Elvis Pelvis y la hija de Lola Flores" class="img-fluid w-100 mx-auto"
				style="max-width: 800px;">
		</video>
	</div>
	<div class="container-fluid py-4">
		<div class="container">

			<h1>No se ha encontrado ningún producto con los parámetros recibidos.</h1>


		</div>
	</div>

	<div class="d-flex justify-content-center mt-3">
		<a class="btn btn-danger btn-lg" th:href="@{/main}">Volver atrás</a>
	</div>

	<footer th:replace="~{fragmentos/footer::footer}">
	</footer>

	<script>
		AOS.init();
	</script>
</body>

</html>