<div th:fragment="likeSinLoginPescado">
	<form id="favoritosForm" th:action="@{/login}" method="GET" style="display: none;">
		<button type="submit" id="likeButton" class="btn btn-warning btn-lg">
			<i class="bi bi-heart-fill me-2"></i>Me Gusta
			<span class="badge bg-secondary" id="likesCount" th:text="${pescado.likes}"></span>
		</button>
	</form>

	<a href="#" onclick="document.getElementById('favoritosForm').submit(); return false;"
		class="btn btn-warning btn-lg">
		<i class="bi bi-heart-fill me-2"></i>Me Gusta
		<span class="badge bg-secondary" id="likesCount" th:text="${pescado.likes}"></span>
	</a>

</div>