<div th:fragment="meGustaMerch">


	<div sec:authorize="hasRole('ROLE_USER')">

		<div th:replace="~{fragmentos/likeConLoginMerch::likeConLoginMerch}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')">

		<div th:replace="~{fragmentos/likeConLoginMerch::likeConLoginMerch}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_EMPLEADO')">

		<div th:replace="~{fragmentos/divlikeConLoginMerch::divlikeConLoginMerch}"></div>

	</div>

	<div sec:authorize="isAnonymous()">


		<div th:replace="~{fragmentos/likeSinLoginMerch::likeSinLoginMerch}"></div>

	</div>

</div>