<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos con más likes</title>
</head>
<body>
    <h1>Los productos que más gustan</h1>
    <div>
        <ul>
            <li th:each="producto : ${listaMasFavoritos}">
                <span th:text="${producto.nombre}"></span> - 
                <span th:text="${producto.likes}"></span> likes
            </li>
        </ul>
    </div>

</body>
</html>
