#recio {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#recio img {
	width: 100%;
	height: auto;
}


.botones {
	padding-top: 100px;
}







#banner img {
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 12px;
}



.titulo-grande {
	font-size: 3rem;
}

#btnScrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 24px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dc3545;
	color: white;
	border: none;
	cursor: pointer;
	z-index: 1000;
}

#btnScrollToTop:hover {
	background-color: #c82333;
}

footer {

	bottom: 0;
	width: 100%;
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.botones-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 20px;
}

.btn2 {
	width: 400px;
	height: 200px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: 2px solid #fff;
	font-size: 36px;
	color: #131313;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	border-radius: 12px;
	background-color:#ff5c5c;
	font-weight: bolder;
	box-shadow: 0 2px 0 2px #000;
}

.btn2:before {
	content: "";
	position: absolute;
	width: 300px;
	height: 120%;
	background-color: rgb(255, 255, 128);
	top: 50%;
	transform: skewX(30deg) translate(-150%, -50%);
	transition: all 0.5s;
}

.btn2:hover {
	background-color: #4cc9f0;
	color: #fff;
	box-shadow: 0 2px 0 2px #0d3b66;
}

.btn2:hover::before {
	transform: skewX(30deg) translate(150%, -50%);
	transition-delay: 0.1s;
}

.btn2:active {
	transform: scale(0.9);
}

