<div th:fragment="likeConLoginLotes">
	<form id="favoritosForm" th:action="@{/agregarAFavoritos/{productoId}(productoId=${lote.id})}" method="GET"
		style="display: none;">
		<button type="submit" id="likeButton" class="btn btn-danger btn-lg">
			<i class="bi bi-heart-fill me-2"></i>Me Gusta
			<span class="badge bg-secondary" id="likesCount" th:text="${lote.likes}"></span>
		</button>
	</form>

	<a href="#" onclick="document.getElementById('favoritosForm').submit(); return false;"
		class="btn btn-danger btn-lg">
		<i class="bi bi-heart-fill me-2"></i>Me Gusta
		<span class="badge bg-secondary" id="likesCount" th:text="${lote.likes}"></span>
	</a>
</div>