<div th:fragment="meGustaPescado">


	<div sec:authorize="hasRole('ROLE_USER')">

		<div th:replace="~{fragmentos/likeConLoginPescado::likeConLoginPescado}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')">

		<div th:replace="~{fragmentos/likeConLoginPescado::likeConLoginPescado}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_EMPLEADO')">

		<div th:replace="~{fragmentos/divlikeConLoginPescado::divlikeConLoginPescado}"></div>

	</div>

	<div sec:authorize="isAnonymous()">


		<div th:replace="~{fragmentos/likeSinLoginPescado::likeSinLoginPescado}"></div>

	</div>

</div>