<div th:fragment="meGustaLotes">


	<div sec:authorize="hasRole('ROLE_USER')">

		<div th:replace="~{fragmentos/likeConLoginLotes::likeConLoginLotes}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')">

		<div th:replace="~{fragmentos/likeConLoginLotes::likeConLoginLotes}"></div>

	</div>

	<div sec:authorize="hasRole('ROLE_EMPLEADO')">

		<div th:replace="~{fragmentos/divlikeConLoginLotes::divlikeConLoginLotes}"></div>

	</div>

	<div sec:authorize="isAnonymous()">


		<div th:replace="~{fragmentos/likeSinLoginLotes::likeSinLoginLotes}"></div>

	</div>

</div>