#recio {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#recio img {
	width: 100%;
	height: auto;
}


.botones {
	padding-top: 100px;
}







#banner img {
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 12px;
}



.titulo-grande {
	font-size: 3rem;
}

#btnScrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 24px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dc3545;
	color: white;
	border: none;
	cursor: pointer;
	z-index: 1000;
}

#btnScrollToTop:hover {
	background-color: #c82333;
}

footer {

	bottom: 0;
	width: 100%;
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.botones-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 20px;
}

.btn2 {
	width: 400px;
	height: 200px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: 2px solid #fff;
	font-size: 36px;
	color: #131313;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	border-radius: 12px;
	background-color: rgb(255, 128, 128);
	font-weight: bolder;
	box-shadow: 0 2px 0 2px #000;
}

.btn2:before {
	content: "";
	position: absolute;
	width: 300px;
	height: 120%;
	background-color: rgb(255, 255, 128);
	top: 50%;
	transform: skewX(30deg) translate(-150%, -50%);
	transition: all 0.5s;
}

.btn2:hover {
	background-color: #4cc9f0;
	color: #fff;
	box-shadow: 0 2px 0 2px #0d3b66;
}

.btn2:hover::before {
	transform: skewX(30deg) translate(150%, -50%);
	transition-delay: 0.1s;
}

.btn2:active {
	transform: scale(0.9);
}

.btn3 {
	display: grid;
	place-items: center;
	background: #e3edf7;
	padding: 1.4em;
	border-radius: 10px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
		-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: transform 0.5s;
}

.btn3:hover {
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
		inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
		-0.5px -0.5px 0px rgba(255, 255, 255, 1),
		0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
		0px 12px 10px -10px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.1);
	transform: translateY(0.5em);
}

.btn3 svg {
	transition: transform 0.5s;
}

.btn3:hover svg {
	transform: scale(0.9) rotate(360deg);
	fill: #333333;
}