<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <!-- Agrega más columnas según los campos que desees mostrar -->
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre la lista de empleados para mostrar cada usuario -->
            <tr th:each="empleado : ${listaEmpleados}">
                <td th:text="${empleado.id}"></td>
                <td th:text="${empleado.username}"></td>
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <!-- Agrega más celdas según los campos que desees mostrar -->
            </tr>
        </tbody>
    </table>
</body>
</html>
