<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus favoritos</title>
</head>
<body>
    <h1>Tus productos favoritos</h1>
    <div>
        <ul>
            <li th:each="favorito : ${listaMisFavoritos}">
                <span th:text="${favorito.producto.nombre}"></span> - 
                <span th:text="${favorito.producto.likes}"></span> likes
            </li>
        </ul>
    </div>

</body>
</html>
