<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger" th:fragment="nav">
      <div class="container">
        <a class="navbar-brand" th:href="@{/main}">
          <img src="../../static/img/logo.png" th:src="@{/img/logo.png}" alt="Logo" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/pescado}">Pescado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/marisco}">Marisco</a>
            </li>
            <li class="nav-item">
			  <a class="nav-link" th:href="@{/lotes}">Lotes</a>
            </li>
            <li class="nav-item">
			  <a class="nav-link" th:href="@{/merch}">Merchandising</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre-nosotros">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cuenta</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>