<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ejemplo de un CRUD completo</title>
</head>

<body>
	<div id="menu">
		<a th:href="@{/list}">Inicio</a> | <a th:href="@{/nuevo}">Nuevo alumno</a>
	</div>
	<br /><br />
	<table border=1>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>email</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno : ${lista}">
				<td th:text="${alumno.id}">1</td>
				<td th:text="${alumno.nombre}">Nombre</td>
				<td th:text="${alumno.apellidos}">Apellidos</td>
				<td th:text="${alumno.email}">Email</td>

				<!-- Estamos "montando las rutas" que aparecen como enlaces (editar y borrar) 
en la tabla de alumnos ya que estas cambian al pinchar en 
un alumno en concreto recogiendo el id de dicho alumno 
y así poder acceder a su información. Para ello:

* Usamos como siempre en th @{ }
* La primera parte (la parte que no varía podríamos decir) es igual a las vistas de otras ocasiones, 
por ejemplo, th:href="@{/editar/más si hubiera otras"
* Después agregamos las llaves con id para que sea reconocido 
como un parámetro o parte de la ruta "que va a cambiar"
* Dentro de paréntesis, asignamos un valor a dicho id, 
en este caso como es el atributo de la entidad, usamos la forma normal de th
para el uso de variables, es decir, símbolo de dólar y el nombre del objeto.nombreatributo, 
quedando como puede verse en el código
* Con esto, tendremos el id del alumno que pinchemos en la tabla

 -->
				<td>
					<a href="#" th:href="@{/editar/{id}(id=${alumno.id})}">Editar</a> |
					<a href="#" th:href="@{/borrar/{id}(id=${alumno.id})}">Borrar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>