<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
	<title>Usuarios</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-danger" th:replace="~{fragmentos/nav::nav}">
		</nav>
	</header>
	
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 main">
					<h1>Listado de Usuarios</h1>
					<div class="row">
						<div class="col-sm-3" th:each="usuario : ${listaUsuarios}">
							<a href="#">
								<div class="col-item">
									<div class="info">
										<div class="row">
											<div class="price col-md-12">
												<h5 th:text="${usuario.nombre + ' ' + usuario.apellido}">Nombre</h5>
												<p th:text="${usuario.email}">Email</p>
												<p th:text="${usuario.dni}">DNI</p>
												<p th:number="${usuario.numPedidos}">Nº de Pedidos</p>
												<p th:text="${usuario.direccion}">Dirección</p>
												<p th:text="${usuario.esAdmin}">Admin</p>
											</div>
											</div>
	
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
	
				</div>
			</div>
	
</body>
</html>
